<div class="row">
  <div class="column">
    <% if notice.present? %>
      <h2><%= notice %></h2>
    <% end %>
    <%= render partial: 'edit_user_form', locals: { user: @user } %>
  </div>

  <div class="column">
    <p>
      Add/Change photo: <%= render partial: 'add_photo', locals: { user: @user, image: @image} %>
    </p>
  </div>
</div>
