/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // @import 'bootstrap-sprockets';
// @import 'bootstrap';

.hero-image {
      background: url('IMG_9850.jpg') no-repeat center center fixed;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
.navbar {
  // float: right;
  // width: 25%;
  background-color: rgba(255, 255, 255, 0.6); //63 101 14 green
  height: 2.5em;
  text-align: right;
  margin-top: -10px;
  padding-right: 50px;

}

.column1 {
  background-color: rgba(255, 255, 255, 0.6);
}

.column2 {
  background-color: rgba(255, 255, 255, 0.6);
    flex: 50%;
    float: left;
}

.column3 {
  background-color: rgba(255, 255, 255, 0.6);
    flex: 33%;
    float: left;
}

.column4 {
  background-color: rgba(255, 255, 255, 0.6);
    width: 25%;
    float: left;
}

.column5 {
  background-color: rgba(255, 255, 255, 0.6);
    width: 20%;
    float: left;
    padding-left: 5%;
}

.column6 {
  background-color: rgba(255, 255, 255, 0.3);
    width: 16.6%;
    padding-left: 5%;
}

#log-in {
  margin-top: 5%;
  float: left;
  padding-bottom: 2%;
}

#tagline {
  font-size: 2em;
  margin-top: 5%;
  text-align: center;

}
