// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
    display: flex;
}

.column {
    flex: 50%;
}

.column3 {
    flex: 33.3%;
    font-size: 1em;
    border: 1px solid red;
    background-color: rgba(153, 153, 153, 0.8); //63 101 14 green
}

.column3-1 {
    flex: 25%;
    font-size: 1em;
    border: 1px solid red;
}
.column3-2 {
    flex: 75%;
    font-size: 1em;
    border: 1px solid red;
}

.dog {
  // margin-top: 5%;
  font-size: 1em;

}
